In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
'''
Assume two-way factorial design 
Heterogenuous Treatment Effect

1) Assume K = 2
2) Assume Basis Functions are Linear
3) Assume Only 1 Interaction Effects

Build Simple Python Function Based on This
1) Dataframe
2) Treatment Cols [Assume in {-1, 1}]
3) Covariate Cols [Assume Numerical]
5) G Column [Assume in {-1, 1}]

Build More Functionality
1) Specify Basis Functions
2) Specify Number of Interaction Effects
'''

'\nAssume two-way factorial design \nHeterogenuous Treatment Effect\n\n1) Assume K = 2\n2) Assume Basis Functions are Linear\n3) Assume Only 1 Interaction Effects\n\nBuild Simple Python Function Based on This\n'

In [18]:
num_points = 100_000
df = pd.DataFrame()
num_treatments = 2 

for i in range(num_treatments):
    treat_name = 'z'+str(i)
    df[treat_name] = (2 * (np.random.randint(0, 2, num_points) - 0.5)).astype(int)

num_covs = 5
for i in range(num_covs):
    cov_name = 'x'+str(i)
    df[cov_name] = np.random.randint(0, 2, num_points)
    
df['y'] = np.random.randint(0, 2, num_points)

In [ ]:
'''

''

In [19]:
df

       z0  z1  x0  x1  x2  x3  x4  y
0       1   1   1   1   0   0   1  1
1       1   1   0   1   1   0   0  0
2      -1  -1   0   0   0   0   1  0
3       1   1   1   1   0   1   0  0
4       1  -1   1   0   0   0   1  0
...    ..  ..  ..  ..  ..  ..  .. ..
99995  -1   1   0   1   1   0   1  0
99996  -1   1   0   0   0   1   1  0
99997   1  -1   1   0   0   0   0  1
99998  -1  -1   1   1   1   0   0  0
99999  -1  -1   0   0   1   1   1  1

[100000 rows x 8 columns]